.navigation>li>a { 
    font-size: 16px;
    font-weight: normal;
}

.navigation li a>i { 
    font-size: 18px;
    font-weight: normal
}

.sidebar-default .navigation li>a { 
    color: rgba(0,0,0,0.6);
}
