<div class="content-wrapper">
    <div class="content">
        <div class="panel panel-body add-task">
            <div class="input-group content-group">
                <div class="has-feedback has-feedback-left">
                    <input type="text" class="form-control input-xlg text-light" placeholder="Add a to-do...">
                    <div class="form-control-feedback">
                        <i class="icon-plus3 text-size-base text-light"></i>
                    </div>
                </div>
    
                <div class="input-group-btn">
                </div>
            </div>
        </div>
        <div class="panel panel-white task" (click)="taskClick()">
            <div class="panel-heading">
                <div class="media-left">
                    <checkbox-widget></checkbox-widget>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><a href="#" class="text-default">Ducked ravenously dear</a></h6>
                </div>
                <div class="heading-elements">
                    <span><i class="icon-star-empty3 text-muted favorite"></i></span>
                </div>
            </div>
        </div>
        <div class="panel panel-white task" (click)="taskClick()">
            <div class="panel-heading">
                <div class="media-left">
                    <checkbox-widget></checkbox-widget>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><a href="#" class="text-default">Task 2</a></h6>
                </div>
            </div>
        </div>
    </div>                
</div>
<div class="sidebar sidebar-opposite sidebar-default task-content">
    <div class="sidebar-content">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <div class="media-left">
                    <checkbox-widget></checkbox-widget>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><a href="#" class="text-default">Task 2</a></h6>
                </div>
                <div class="heading-elements">
                    <span class="cursor-pointer"><i class="icon-star-empty3 text-muted favorite"></i></span>
                    <span class="cursor-pointer"><i class="icon-trash text-muted favorite"></i></span>
                    <span class="cursor-pointer" (click)="closeTaskClick()"><i class="icon-cross2 text-muted favorite"></i></span>
                </div>
            </div>
            <div class="panel-body">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <i class="icon-calendar text-muted"></i>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <label for="task1" class="no-margin cursor-pointer text-muted text-light">Set due date</label>
                            </h6>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <i class="icon-alarm text-muted"></i>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <label for="task2" class="no-margin cursor-pointer text-muted text-light">Remind me</label>
                            </h6>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <i class="icon-plus3 text-muted"></i>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <label for="task3" class="no-margin cursor-pointer text-muted text-light">Add a subtask</label>
                            </h6>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <i class="icon-pencil text-muted"></i>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <label for="task3" class="no-margin cursor-pointer text-muted text-light">Add a note...</label>
                            </h6>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <i class="icon-attachment text-muted"></i>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <label for="task3" class="no-margin cursor-pointer text-muted text-light">Add a file</label>
                            </h6>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>