<div class="content-wrapper">
    <div class="content">
        <div class="panel panel-body add-task">
            <div class="input-group content-group">
                <div class="has-feedback has-feedback-left">
                    <input type="text" class="form-control input-xlg text-light" placeholder="Add a to-do..." [(ngModel)]="newTask" (keyup.enter)="addTask()">
                    <div class="form-control-feedback">
                        <i class="icon-plus3 text-size-base text-light"></i>
                    </div>
                </div>
    
                <div class="input-group-btn">
                </div>
            </div>
        </div>
        <div class="panel panel-white task" (click)="taskClick(task)" *ngFor="let task of tasks">
            <div class="panel-heading">
                <div class="media-left">
                    <checkbox-widget [checked]="task.completed" (checkedChange)="task.completed = $event"></checkbox-widget>
                </div>
                <div class="media-body">
                    <h6 class="media-heading"><span class="text-default">{{ task.title }}</span></h6>
                </div>
                <div class="heading-elements">
                    <span class="label label-flat border-primary text-primary-600 heading-text mr-10" *ngIf="task.dueDateLabel">{{ task.dueDateLabel }}</span>
                    <span (click)="starredClick(task)">
                        <i class="text-muted favorite text-success" 
                            [ngClass]="{'icon-star-empty3': !task.starred, 'icon-star-full2': task.starred}"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>                
</div>
<div class="sidebar sidebar-opposite sidebar-default task-content">
    <div class="sidebar-content">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <div class="media-left">
                    <checkbox-widget [checked]="selectedTask.completed" (checkedChange)="selectedTask.completed = $event"></checkbox-widget>
                </div>
                <div class="media-body">
                    <h6 class="media-heading" contenteditable="true" (blur)="titleChanged($event.srcElement.innerText)"><span class="text-default">{{ selectedTask.title }}</span></h6>
                </div>
                <div class="heading-elements">
                    <span class="cursor-pointer"><i class="text-muted favorite text-success" [ngClass]="{'icon-star-empty3': !selectedTask.starred, 'icon-star-full2': selectedTask.starred}"></i></span>
                    <span class="cursor-pointer" (click)="deleteTaskClick()"><i class="icon-trash text-muted favorite"></i></span>
                    <span class="cursor-pointer" (click)="closeTaskClick()"><i class="icon-cross2 text-muted favorite"></i></span>
                </div>
            </div>
            <div class="panel-body">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">
                            <i class="icon-calendar" [ngClass]="{ 'text-muted': !selectedTask.dueDate, 'text-primary': selectedTask.dueDate }"></i>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <label id="due-date" class="no-margin cursor-pointer text-muted text-light" 
                                    [ngClass]="{ 'text-muted': !selectedTask.dueDate, 'text-primary': selectedTask.dueDate }">{{ selectedTask.dueDateLabel || 'Set due date' }}</label>
                            </h6>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <i class="icon-alarm" [ngClass]="{ 'text-muted': !selectedTask.alertDate, 'text-primary': selectedTask.alertDate }"></i>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <label id="alert-date" class="no-margin cursor-pointer text-light"
                                [ngClass]="{ 'text-muted': !selectedTask.alertDate, 'text-primary': selectedTask.alertDate }">{{ selectedTask.alertDateLabel || 'Remind me' }}</label>
                            </h6>
                        </div>
                    </li>
                    <li class="media subtask" *ngFor="let subtask of selectedTask.subtasks; let idx = index" [ngStyle]="{'margin-top': idx > 0 ? '0px' : '20px'}">
                        <div class="media-left">
                            <checkbox-widget></checkbox-widget>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <label for="task3" class="no-margin cursor-pointer text-light">{{ subtask.name }}</label>
                            </h6>
                        </div>
                    </li>
                    <li class="media" [ngStyle]="{'margin-top': selectedTask.subtasks.length > 0 ? '10px' : '20px'}">
                        <div class="media-left">
                            <i class="icon-plus3" [ngClass]="{'text-muted': selectedTask.subtasks.length == 0, 'text-success': selectedTask.subtasks.length > 0}"></i>
                        </div>
                        <div class="media-body">
                            <h6 #subtask class="media-heading cursor-pointer text-muted text-light" contenteditable="true" 
                                (focus)="subtask.innerText = ''" 
                                (keyup.enter)="addSubtask(subtask.innerText); subtask.innerText = ''" 
                                (blur)="subtask.innerText = 'Add a subtask'">
                                Add a subtask
                            </h6>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <i class="icon-pencil" [ngClass]="{'text-muted': !selectedTask.notes, 'text-info': selectedTask.notes}"></i>
                        </div>
                        <div class="media-body">
                            <h6 #notes class="media-heading text-light" contenteditable="true" [ngClass]="{'text-muted': !selectedTask.notes}" (keyup.enter)="notesChanged(notes.innerText); notes.blur()">
                                {{ selectedTask.notes || 'Add a note...' }}
                            </h6>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <i class="icon-attachment" [ngClass]="{'text-muted': selectedTask.attachments.length == 0, 'text-primary': selectedTask.attachments.length > 0}"></i>
                        </div>
                        <div class="media-body">
                            <h6 class="media-heading">
                                <label for="task3" class="no-margin cursor-pointer text-muted text-light" (click)="addFileClick()">Add a file</label>
                            </h6>
                            <ul class="mail-attachments">
                                <li *ngFor="let attachment of selectedTask.attachments">
                                    <span class="mail-attachments-preview">
                                        <i class="icon-file-empty icon-2x"></i>
                                    </span>

                                    <div class="mail-attachments-content">
                                        <span class="text-semibold">{{ attachment.filename }}</span>

                                        <ul class="list-inline list-inline-condensed no-margin">
                                            <!-- <li class="text-muted">174 KB</li> -->
                                            <li><a>View</a></li>
                                            <li><a>Download</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <input type="file" id="new-file" style="display: none" (change)="addFiles($event.target.files)" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>